/* MPlus 1 */

@font-face {
    font-family: Mplus1;
    src: url("mplus/Mplus1-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mplus1;
    src: url("mplus/Mplus1-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Mplus1;
    src: url("mplus/Mplus1-ExtraBold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Mplus1;
    src: url("mplus/Mplus1-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

/* MPlus 2 */

@font-face {
    font-family: Mplus2;
    src: url("mplus/Mplus2-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mplus2;
    src: url("mplus/Mplus2-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Mplus2;
    src: url("mplus/Mplus2-ExtraBold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Mplus2;
    src: url("mplus/Mplus2-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

/* MPlus Code */

@font-face {
    font-family: MplusCode;
    src: url("mplus/MplusCodeLatin50-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MplusCode;
    src: url("mplus/MplusCodeLatin60-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MplusCode;
    src: url("mplus/MplusCodeLatin60-Bold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: MplusCode;
    src: url("mplus/MplusCodeLatin60-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

/* Apply Fonts */

body {
    font-family: Mplus2;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
}

button {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: normal;
    font-style: normal;
}

button:hover {
    font-weight: bold;
}

button:disabled:hover {
    font-weight: normal;
}

#room_detail {
    font-size: x-small;
}

@media (min-resolution: 200dpi) {
    body {
        font-family: MplusCode;
        font-weight: normal;
        font-style: normal;
        font-size: xx-large;
    }
    input, button {
        font-size: xx-large;
    }
    #fx_list {
        font-size: xx-large;
    }

    #sliders {
        overflow-y:initial;
        max-block-size: 30em;
    }
}